.Menu {
    height: 100%;
    width: 200px;
  
    background-color: #fff;
  
    margin-left: auto;
    margin-right: auto;
  
    display: block;
    
  }
  
  .Menu.open {
  height: 200px;
  width: 100px;
  opacity: 1.0;
  box-sizing: border-box;
  transition: height 500ms 0ms, opacity 500ms 500ms;
  z-index: 1000;
  }
  
  .Menu.closed {
    width: 100px;
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0.0;
    height: 0px;
    z-index: -1;
    
  }
  
  .NavLink,
  .PrivateLink {
    border-left: 3px solid transparent;
    border-top: none;
    border-bottom: none !important;
    margin-bottom: 2px;
  }
  
  .NavLink_active,
  .NavLink:hover {
    color: rgb(1, 134, 195);
    border-left: 3px solid rgb(1, 134, 195);
  }
  
  .PrivateLink_active,
  .PrivateLink:hover {
    color: rgb(1, 134, 195);
    border-left: 3px solid rgb(1, 134, 195);
  }
  
  /* You can use a CSS preprocessor to store breakpoint values in variables. */
  @media only screen and (min-width: 450px) {
    .Menu {
      display: none;
    }
  }