.view{
    display: flex;
}
.infoBox {
    flex: 30%;
}
.priceBox{
    flex: 60%;
}
.coinImage {
    max-width: 100%;
    width: 100%;
}
.coinName{
    text-align: center;
}
.Loader {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-top: 200px;
    margin-right: auto; 
    width: 100px;
    padding: 20px;
}
.currentPrice {

}
.marketCap {

}
.totalVolume {

}
.dailyChange {

}
.weeklyChange {

}
.monthlyChange {

}
.yearlyChange {

}
.dailyChangeCurrency {

}
.ath {

}
