:root {
    --color-primary: #494949;
    --color-grey: #eeeeee;
    --color-gold: #e67700;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Spectral", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 1.7;
  }
  
  body {
    overflow-x: hidden;
    position: relative;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }