.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.MainContainer{
    color: var(--main-color, black);
	border: 2px solid var(--main-color, black);
	text-align: center;
	padding: var(--padding, 0px);
	margin-bottom: 10px;
    display: grid;
    grid-gap: var(--padding);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}