.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.MainContainer{
    color: var(--main-color, black);
	border: 2px solid var(--main-color, black);
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 400px) {
    
    .MainContainer {
        display: grid;
        grid-gap: var(--padding);
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}