.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    max-width: 400px;
    margin: 0 auto;
  }
  .RegisterForm__input {
    outline: none;
    border: solid 1.5px lightgray;
  }
  .RegisterForm__input:focus {
    border-color: rgb(1, 134, 195);
    box-shadow: 0 0 5px 0px var(--LoginForm-input-border-focus-color);
  }
  .RegisterForm__button,
  .RegisterForm__input {
    padding: 0.5em;
    font-size: inherit;
    margin-top: 0.5rem;
  }
  .RegisterForm__button {
    background-color: rgb(1, 134, 195);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 45px;
  }