.Header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid var(--color-grey, #000);
    margin-bottom: 40px;
  }
  
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  
  .Logo {
    color: var(--color-gold, orange);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .Nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .NavLink {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    color: var(--color-primary, #000000);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.25s linear;
  }
  
  .NavLink:first-child {
    margin-left: 10px;
  }
  
  .NavLink__active,
  .NavLink:hover {
    color: var(--color-gold, orange);
    border-bottom: 3px solid var(--color-gold, orange);
  }