.Slider {
    width: 100%;
    height: 20%;
  }
.Slider img {
  max-width: 100%;
  height: 400px;;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 100%;
  height: 20%;;
}
@media screen and (max-width: 450px) {
    
  .Showcase {
    display: none;
  }
}