:root {
	--main-color: #000;
	--secondary-color: rgb(111, 152, 190);
	--complementary-color: rgb(180, 85, 59);
	--padding: 10px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
}
.site {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.item {
	color: var(--main-color, black);
	border: 2px solid var(--main-color, black);
	text-align: center;
	padding: var(--padding, 0px);
	margin-bottom: 10px;
}
.item:last-child {
	margin-bottom: 0;
}
nav {
	display: inline;
}
.logo {
	float: left;
	padding: 10px;
}
ul {
	float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	padding: 10px;
    float: left;
}



.card {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--secondary-color, black);
	width: 100%;
	padding: var(--padding, 0px);
	margin-top: var(--padding, 0px);
	color: var(--secondary-color, black);
}
.card>p {
	text-align: center;
	padding-left: var(--padding, 0px);
}
.photo {
	align-self: center;
	background-color: var(--secondary-color, black);
	width: 100px;
	height: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}
.card>.photo{
	align-self: center;
	background-color: var(--secondary-color, black);
	width: 100%;
	max-width: 150px;
    height: 150px;
    flex-grow: 0;
	flex-shrink: 0;
}
.showcase {
	display: none;
	max-height: 12em;
}
.main {
	display: flex;
	flex-direction: column;
}
@supports (display: grid) {
	.site {
		grid-gap: var(--padding, 0px);
	}
	.header {
		grid-area: header;
	}
	.showcase {
		grid-area: showcase;
	}
	.main {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
	}
	@media screen and (min-width: 400px) {
		body {
			font-size: 24px;
		}
		.showcase {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		.item {
			margin-bottom: 0px;
		}
		.main__content {
			display: grid;
			grid-gap: var(--padding);
			grid-template-rows: repeat(1, 1fr);
			grid-template-columns: repeat(3, 1fr);
		}
		.site {
			display: grid;
			max-width: 1000px;
			grid-template-rows: auto 12em 1fr auto;
		}
	}
	@media screen and (max-width: 600px) {
		.navi{
			display: none;
		}
	}
	@media screen and (min-width: 400px) and (max-width: 600px) {
		.site {
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"header header header"
				"showcase showcase showcase"
				"main main main"
				"footer footer footer";
		}
	}
	@media screen and (min-width: 600px) {
		.site {
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"header header header"
				"showcase showcase showcase"
				"main main main"
				"footer footer footer";
		}
	}
}