.Header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid var(--color-grey, #000);
    margin-bottom: 20px;
  }
  
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  
  .Logo {
   width: 41px;
   height: 36%;
   padding-top: 14px;
  }
  
  .Nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .NavLink,
  .PrivateLink {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    color: var(--color-primary, #000000);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.25s linear;
  }
  
  .NavLink:first-child {
    margin-left: 10px;
  }
  
  .NavLink__active,
  .NavLink:hover {
    color:rgb(1, 134, 195);
    border-bottom: 3px solid rgb(1, 134, 195);
  }

  .PrivateLink_active,
  .PrivateLink:hover {
    color: var(--color-gold, orange);
    border-bottom: 3px solid var(--color-gold, orange);
}
a {
  text-decoration: none;
  outline: 0;
}

.Header a:hover {
  border-bottom: 3px solid rgb(1, 134, 195);
}