
.Card {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	color: rgb(111, 152, 190);
}
.Card>p {
	text-align: center;
	padding-left: 10px;
}
.Photo {
	align-self: center;
	width: 100px;
	height: 100px;
	flex-grow: 0;
	flex-shrink: 0;
	transition: transform .2s;
}
.Photo hover {
	transform: scale(1.5);
}
.Card>.Photo{
	align-self: center;
	width: 100%;
	max-width: 150px;
    height: 150px;
    flex-grow: 0;
	flex-shrink: 0;
}
